<form [formGroup]="leaveForm" class="grid flex-1 auto-rows-min gap-6 px-4">
  <div class="relative">
    <label
      for="leaveType"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
      >Leave Type</label
    >
    <select
      id="gender"
      placeholder="Select Leave Type"
      formControlName="leaveType"
      class="appearance-none mt-2 w-full h-9 rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors focus:outline-none focus:border-ring focus:ring-2 focus:ring-ring/50 dark:bg-input/30 dark:text-foreground/90 cursor-pointer"
    >
      <option value="" class="text-gray-900" disabled selected hidden>Select Leave Type</option>
      <option value="sick leave">Sick Leave</option>
      <option value="annual leave">Annual Leave</option>
      <option value="personal leave">Personal Leave</option>
      <option value="maternity leave">Maternity Leave</option>
      <option value="emergency leave">Emergency Leave</option>
    </select>
  </div>
  <div class="grid gap-3">
    <label
      for="fromDate"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
      >From Date</label
    >
    <input
      z-input
      required
      type="date"
      formControlName="fromDate"
      placeholder="Enter from date"
      class="file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
    />
    @if (leaveForm.controls['fromDate'].touched) {
      <div>
        @if (leaveForm.controls['fromDate'].errors?.['required']) {
          <span class="text-red-400"> This Field is Required </span>
        }
      </div>
    }
  </div>

  <div class="grid gap-3">
    <label
      for="toDate"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
      >To Date</label
    >
    <input
      z-input
      required
      type="date"
      formControlName="toDate"
      placeholder="Enter to date"
      class="file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
    />
    @if (leaveForm.controls['toDate'].touched) {
      <div>
        @if (leaveForm.controls['toDate'].errors?.['required']) {
          <span class="text-red-400"> This Field is Required </span>
        }
      </div>
    }
  </div>

  <div class="grid gap-3">
    <label
      for="noOfDays"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
      >No of days</label
    >
    <input
      z-input
      required
      formControlName="noOfDays"
      placeholder="Enter email"
      class="file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
    />
    @if (leaveForm.controls['noOfDays'].touched) {
      <div>
        @if (leaveForm.controls['noOfDays'].errors?.['required']) {
          <span class="text-red-400"> This Field is Required </span>
        }
      </div>
    }
  </div>

  <div class="grid gap-3">
    <label
      for="details"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
      >Leave Details</label
    >
    <input
      z-input
      required
      formControlName="details"
      placeholder="Enter Details"
      class="file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
    />
    @if (leaveForm.controls['details'].touched) {
      <div>
        @if (leaveForm.controls['details'].errors?.['required']) {
          <span class="text-red-400"> This Field is Required </span>
        }
      </div>
    }
  </div>

  <div class="grid gap-3">
    <button z-button zType="secondary" [disabled]="leaveForm.invalid" (click)="createLeave()">
      Save Changes
    </button>
  </div>
</form>
